<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAx3cRn1zcNGFeul0EjBZMOQuqnlEyg0zI</string>
	<key>GCM_SENDER_ID</key>
	<string>818385786782</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.orderTakingSystem</string>
	<key>PROJECT_ID</key>
	<string>vital-valor-402307</string>
	<key>STORAGE_BUCKET</key>
	<string>vital-valor-402307.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:818385786782:ios:8a04927d91f92e705de88f</string>
</dict>
</plist>